.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	& &__body {
		padding: 10px;
	}

	&__field {
		margin-bottom: 10px;
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		margin-top: 1rem;
	}
}
