<div class="register-form">
	<p-card header="Register">
		<form
			[formGroup]="this.form"
			(ngSubmit)="this.onSubmit()"
		>
			<div class="register-form__body">
				<div class="field register-form__field">
					<fdg-form-text-input
						[id]="RegisterFormControls.Username"
						[formControl]="usernameControl"
						[label]="RegisterFormPlaceholders.Username"
					/>
				</div>
				<div class="field register-form__field">
					<fdg-form-text-input
						[id]="RegisterFormControls.Email"
						[formControl]="emailControl"
						[label]="RegisterFormPlaceholders.Email"
						[isEmail]="true"
					/>
				</div>
				<div class="field register-form__field">
					<p-iftalabel>
						<p-password
							[formControl]="passwordControl"
							[feedback]="false"
							[inputId]="RegisterFormControls.Password"
							[toggleMask]="true"
							autocomplete="off"
							fluid
							[class.ng-invalid]="
								passwordControl.invalid && (passwordControl.dirty || !passwordControl.untouched)
							"
							[class.ng-dirty]="
								passwordControl.invalid && (passwordControl.dirty || !passwordControl.untouched)
							"
						/>
						<label [for]="RegisterFormControls.Password">{{ RegisterFormPlaceholders.Password }}</label>
					</p-iftalabel>
					<fdg-form-input-validation-errors [control]="passwordControl"></fdg-form-input-validation-errors>
				</div>
				<div class="field register-form__field">
					<p-iftalabel>
						<p-password
							[formControl]="confirmPasswordControl"
							[feedback]="false"
							[inputId]="RegisterFormControls.ConfirmPassword"
							[toggleMask]="true"
							autocomplete="off"
							fluid
							[class.ng-invalid]="
								confirmPasswordControl.invalid &&
								(confirmPasswordControl.dirty || !confirmPasswordControl.untouched)
							"
							[class.ng-dirty]="
								confirmPasswordControl.invalid &&
								(confirmPasswordControl.dirty || !confirmPasswordControl.untouched)
							"
						/>
						<label [for]="RegisterFormControls.ConfirmPassword">
							{{ RegisterFormPlaceholders.ConfirmPassword }}
						</label>
					</p-iftalabel>
					<fdg-form-input-validation-errors
						[control]="confirmPasswordControl"
					></fdg-form-input-validation-errors>
				</div>
			</div>
			<div class="register-form__actions">
				<p-button
					type="submit"
					label="Register"
					[disabled]="form.invalid"
				></p-button>
				<p-button
					[routerLink]="['/auth/login']"
					label="Already have an account?"
					styleClass="p-button-text"
				></p-button>
			</div>
		</form>
	</p-card>
</div>
