<div class="login-form">
	<p-card header="Login">
		<form
			[formGroup]="this.form"
			(ngSubmit)="this.onSubmit()"
		>
			<div class="login-form__body">
				<div class="field login-form__field">
					<fdg-form-text-input
						[id]="LoginFormControls.Email"
						[formControl]="emailControl"
						[label]="LoginFormPlaceholders.Email"
						[isEmail]="true"
					/>
				</div>
				<div class="field login-form__field">
					<p-iftalabel>
						<p-password
							[formControl]="passwordControl"
							[feedback]="false"
							[inputId]="LoginFormControls.Password"
							[toggleMask]="true"
							autocomplete="off"
							fluid
							[class.ng-invalid]="
								passwordControl.invalid && (passwordControl.dirty || !passwordControl.untouched)
							"
							[class.ng-dirty]="
								passwordControl.invalid && (passwordControl.dirty || !passwordControl.untouched)
							"
						/>
						<label [for]="LoginFormControls.Password">{{ LoginFormPlaceholders.Password }}</label>
					</p-iftalabel>
					<fdg-form-input-validation-errors [control]="passwordControl"></fdg-form-input-validation-errors>
				</div>
			</div>
			<div class="login-form__actions">
				<p-button
					type="submit"
					label="Login"
					[disabled]="form.invalid"
				></p-button>
				<p-button
					[routerLink]="['/auth/register']"
					label="Create Account"
					styleClass="p-button-text"
				></p-button>
			</div>
		</form>
	</p-card>
</div>
